---
layout: default
---

<section class="section">
  <h2>{{ page.title }}</h2>
  <p><strong>{{ page.date | date: "%B %-d, %Y" }}</strong> · {{ page.author }}</p>
  {% if page.image %}
    {% if page.image contains 'http' %}
      <img src="{{ page.image }}" alt="{{ page.title }}" style="border-radius:18px; margin: 16px 0;" />
    {% else %}
      <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" style="border-radius:18px; margin: 16px 0;" />
    {% endif %}
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>
</section>
